BASE_URL=http://localhost:3000
API_BASE_URL=http://localhost:8080

# Naver Map
NAVER_MAP_CLIENT_ID=
NAVER_MAP_SECRET=

# Database
DATABASE_URL=jdbc:postgresql://localhost:5432/gearby
DATABASE_USERNAME=gearby
DATABASE_PASSWORD=
POSTGRES_DB=gearby
POSTGRES_USER=gearby
POSTGRES_PASSWORD=
